<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServ</servlet-name>
  	<display-name>LoginServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.LoginServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BooksAdd</servlet-name>
  	<display-name>BooksAdd</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.BooksAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditBookServ</servlet-name>
  	<display-name>EditBookServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.EditBookServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBook</servlet-name>
  	<display-name>DeleteBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.DeleteBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServ</servlet-name>
  	<display-name>LogoutServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.LogoutServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cart</servlet-name>
  	<display-name>Cart</display-name>
  	<description></description>
  	<servlet-class>com.entity.Cart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartServ</servlet-name>
  	<display-name>CartServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.CartServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveBook</servlet-name>
  	<display-name>RemoveBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RemoveBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SellOldBook</servlet-name>
  	<display-name>SellOldBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.SellOldBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyBooks</servlet-name>
  	<display-name>MyBooks</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.MyBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfile</servlet-name>
  	<display-name>UpdateProfile</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UpdateProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServ</servlet-name>
  	<display-name>OrderServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.OrderServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RatingServ</servlet-name>
  	<display-name>RatingServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RatingServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactServ</servlet-name>
  	<display-name>ContactServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.ContactServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServ</servlet-name>
  	<url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BooksAdd</servlet-name>
  	<url-pattern>/BooksAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditBookServ</servlet-name>
  	<url-pattern>/EditBookServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBook</servlet-name>
  	<url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServ</servlet-name>
  	<url-pattern>/LogoutServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cart</servlet-name>
  	<url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartServ</servlet-name>
  	<url-pattern>/CartServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveBook</servlet-name>
  	<url-pattern>/RemoveBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SellOldBook</servlet-name>
  	<url-pattern>/SellOldBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyBooks</servlet-name>
  	<url-pattern>/MyBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfile</servlet-name>
  	<url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServ</servlet-name>
  	<url-pattern>/OrderServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RatingServ</servlet-name>
  	<url-pattern>/RatingServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServ</servlet-name>
  	<url-pattern>/ContactServ</url-pattern>
  </servlet-mapping>
</web-app>
